.display-4 {
  text-align: center;
    font-size: 2.6rem;
  font-weight: 260;
}
.display-3 {
  text-align: center;
}

.lead {
  text-align: center;
  font-weight: 100;
}
.p {
    font-weight: 100;
}
.th {
  font-weight: 100;
}



.btn {
    margin-right: 1%;
    border-radius: 6rem;
}






.download-card {
background: #ededed;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}








.bg-inverse {
background-color: #363951 !important;
box-shadow: 0;
}
/* Jumbtron-cover */

.jumbotron-cover {
  min-height: 550px;
  background-color: #363951;
  background-size: cover;
  color: white;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
  border-radius: 0;
}
/* Jumbtron-cover */

.navbar {
  background: white;
  height: 60px;
padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.nav-link {
color: white;

}



/* Outline button */
.outline-button {
	position:relative;
	padding:14px 0;
	border:2px white solid;
	float:left;
	color: white;
	font-family: Roboto;
	font-size: 20;
  font-weight: 350;
    text-decoration: none;	
    -webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	display: inline-block;
	vertical-align: middle;
	line-height: 1em;
outline: none;
	text-align: center;
	text-decoration: none;
	width: 210px;
  top: 50%;
  left: 50%;
	margin: 0 -105px;
    background-color: rgba(255, 255, 255, 0.1);
}
.outline-button:hover {
  text-decoration: none;
  color: white;
   background-color: #363951;   
         -webkit-transition: .2s ease-out;
     -webkit-transition-delay: 0.2s;
     -o-transition: .2s ease-out;
     -o-transition-delay: 0.3s;
     -moz-transition: .4s ease-out;
     -moz-transition-delay: 0.2s;
     transition: .2s ease-out;
     transition-delay: 0.2s;
}
/* Outline button */

.media-heading {
Font-size: 28;
font-weight: 200;
}
.media-heading:hover{
color: #363951;
}
.media-p {
color: #757575;
font-weight: 200;
  
}

.lip-f2b2cont{
background: #2b2d40 ;
width: 100%;
color: white;
}
.lip-f363cont {
background: #363951;
width: 100%;
color: white;
}
.lip-contzone {
  padding: 50px;
  padding-top: 30px;
}